build/
debug/
devel/
logs/
eval/
record/
install/
src/EPIC_poongsan/src/EPIC/src/global_planner/exploration_manager/records
.catkin_tools/
.vscode/
*.pcd
.catkin_workspace
*.pdf
*.html
*.png
*.jpg
*.log
*.csv
*.swp
*.bag
*.bag.active
__pycache__
